.app-container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
  color: white;
}
.header {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.5rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 1rem 1rem;
  gap: 1rem;
}
