.app-container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
  color: white;
}
.header {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}
.heading-text {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  height: fit-content;
  padding: 1rem 1rem;
  gap: 1rem;
}
.footer {
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.5rem;
  background-color: rgb(31, 31, 31);
}
