.version {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 0.5rem;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  p {
    font-size: 12px;
  }
}
