.rule-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
}
.rule-list-item {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
.rule-list-edit {
  display: flex;
  max-width: 100%;
}
.rule-list-info {
  display: flex;
  max-width: 100%;
  h2 {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.rule-list-options {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 0.5rem;
}
