:root {
  //colors
  --primary: rgb(40, 40, 40);
  --secondary: rgb(81, 80, 80);
  --tertiary: #2196f3;
  --background-color: #ccc;

  //css variables
  --border-radius: 5px;
  --header-height: 4rem;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--primary);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

html,
body {
  height: 600px; /* your desired width */
  width: 400px;
  position: relative;
  overflow: auto;
}
* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
}
p {
  font-size: 16px;
}
h1 {
  font-weight: 400;
  font-size: 25px;
}
h2 {
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  all: unset;
}
li {
  all: unset;
}
li a {
  all: unset;
}
a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}
input {
  all: unset;
}
textarea {
  all: unset;
}
button,
textarea,
input,
select,
option,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--tertiary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--tertiary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
